<div class="loading-animation">
  <section class="home">
      <div class="section">
			  <img data-action="zoom" src='{{ "/assets/app_asset_1.png" | relative_url }}' alt='absolute' width="230" style="float:left; margin-right: 10px">
			  <img data-action="zoom" src='{{ "/assets/app_asset_2.png" | relative_url }}' alt='absolute' width="230" style="float:left; margin-right: 10px">
			  <img data-action="zoom" src='{{ "/assets/app_asset_3.png" | relative_url }}' alt='absolute' width="230" style="float:left; margin-right: 10px">
			  <img data-action="zoom" src='{{ "/assets/app_asset_4.png" | relative_url }}' alt='absolute' width="230" style="float:left;">
      </div>
  </section>
</div>