<div class="main">
    <div class="main-banner">
        <div class="content">
            <!--<div class="overlay" style="background: url('/meta/page_bg_01.png')"></div>-->
            <div class="text-wrapper">
                <div class="sub-title">
                    <span class="no-wrap">
                        나를 닮은 인공지능 아바타
                    </span>
                    <span class="no-wrap">
                        AvatarX를 만드는
                    </span>
                </div>
                <div class="main-title">
                    <span class="no-wrap">
                        <a href="">ICLON</a>
                    </span>
                </div>
                <br/>
                <div class="description">
                    <span class="no-wrap">
                        Avatar X는 나의 일상적인 경험 데이터를 기반으로 구축되며 
                    </span>
                    
                </div>
                <div class="description">
                    <span class="no-wrap">
                        나를 대신하여 가상 환경에서 활동하거나,                    
                    </span>
                </div>
                <div class="description">
                    <span class="no-wrap">
                        나를 추억하고자 하는 사람들과 일상 대화 나누는 것을 목표로 합니다.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
